html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

#header input {
	width: 100%;
}

#header, #sidebar {
	padding: 10px;
}

#sidebar {
	float: left;
	width: 200px;
	height: 100%;
}

#content {
	float: none;
	width: auto;
	height: 100%;
	overflow: auto;
}

#content div {
	background-repeat: no-repeat;
        background-position: top center;
        background-size: 64px 64px;
        text-align: center;
	margin: 15px;
        width: 64px;
        height: 16px;
        float: left;
        padding-top: 68px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
