body {
	font-family: Arial;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #eee;
	background-attachment: fixed;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em;
}

#desk div, #wall div {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 64px 64px;
	text-align: center;
	width: 128px;
	height: 72px;
	float: left;
	padding-top: 68px;
}

#wall div {
	background-size: 100px;
	white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
}

#desk div:hover, #wall div:hover {
	-webkit-filter: brightness(1.5);
}